<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!--服务默认端口-->
    <add key="port" value="8090"/>
    <add key="checkupdateurl" value="http://localhost:14986/AutoUpdaterTest.xml"/>
    
    <add key="autocheckupdateinterval" value="5"/>
  </appSettings>
  <runtime>
    <legacyUnhandledExceptionPolicy enabled="true" />
  </runtime>
</configuration>
